<nav class="navbar navbar-expand-lg navbar-light bg-light sticky-top mb-4" id="selection">
  <a class="nav-link" style="color: #4A4A4A; opacity: 0.6" href="/cocktails/<%= @cocktail.id %>">back</a>
</nav>

<div class="container">
  <div class="row mt-5 justify-content-center">
    <div class="col-8">
      <%= simple_form_for ([@cocktail, @dose]) do |f| %>
        <%= f.association :ingredient %>
        <%= f.input :description %>
        <%= f.button :submit, "Add", class: "btn btn-primary" %>
      <% end %>
    </div>
  </div>
</div>








